{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            <!--En este caso, la generic view CreateView espera que nombremos a la form como 'form'
            en caso de querer nombrarlo de otra forma, debemos especificar un atributo en la clase 'PostCreateVew' 
            con el nombre que deseamos darle a la form y cambiarlo aqui tambien-->
            {{ form | crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
</div>
{% endblock content %}